<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Library</title>
    <ul>
        <li><a href="{% url 'library' %}" class="nav-button">Library</a></li>
        <li><a href="{% url 'member' %}" class="nav-button">Members</a></li>
        <!-- Uses a form to logout, as we need to do a POST to logout -->
        <li>
            <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-button">Logout</button>
            </form>
        </li>
    </ul>
</head>
<body>
    <h1>Library Books</h1>
    <ul>
        <h2>Books In Library:</h2>
        {% for book in booksInLibrary %}
        <li>{{ book.book_name }} by {{ book.book_author }} ({{ book.book_year }}) <a href="{% url 'borrow' %}?bookname={{ book.book_name|urlencode }}" class="borrow">Borrow</a></li>
        {% empty %}
            <li>No books found.</li>
        {% endfor %}
        <h2>Books With Members:</h2>
        {% for book in bookswithMembers %}
        <li>{{ book.book_name }} by {{ book.book_author }} ({{ book.book_year }})</li>
        {% empty %}
            <li>No books found.</li>
        {% endfor %}
    </ul>
    <h2>Books Held:</h2>
    <ul>
        {% for book in userborrowedBooks %}
            <li>{{ book.book_name }} by {{ book.book_author }} ({{ book.book_year }}) due {{book.book_return_date}}</li>
        {% empty %}
            <li>Not currently borrowing books</li>
        {% endfor %}
    </ul>
</body>
</html>